@import 'https://bootswatch.com/4/flatly/bootstrap.css';

.pt-20 {
 padding-top:2em;
}
.navbar{
  padding: 0 1em;
}
.navbar img{
  text-align: center;
  margin: auto;
  display: block;
}
.navbar-dark .navbar-brand {
    margin: auto;
}
